	@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');
html {
  scroll-behavior: smooth;
}

body
{	overflow-x:hidden;
	font-family: 'Oswald', sans-serif;
	margin:0;
	padding:0; 
	scroll-behavior: smooth; 
}
.navbar{
text-align:center;
background:transparent;
}
/*header*/
h1{
font-size: 60px;
}
#header{
        background-image: url("gif-bg.gif"); 
	background-size: cover;
	background-position:bottom;
	color:white;
	letter-spacing:2px;
	padding-top:150px;
	height: 100vh;
	
	}
#header h1{
	font-family: 'Caveat', cursive;
}

#Jumbo__about{
box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
}
/*Button positions and hover*/
#btn-center{
position:center;
}
.btn{
    	border-radius:0px 20px 0px 20px;
    	border:2px solid white;
    	color: white;
    	background-color:transparent;
    	padding: 20px 20px 20px 20px;
  	}
.btn:hover{
    	background-color:transparent;
    	color:yelow;
}

#columns{
	box-sizing;border-box;
}

#szolgaltatasok{
	padding-top:65px;
}
.card{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	text-align:center;
	transition:0.1s linear;


}

.card:hover{
	transform: scale(1.15);
	object-fit:;
	box-shadow: rgba(32, 145, 200, 0.50) 0px 5px 15px;

}
.card-title{
	position:;
	background-position:center;
	width: px;
	text-align:center;

}
.card img{

	width:300px;
	height:300px;
	object-fit:cover;
	
	
}


@media only screen and (max-width: 800px) {
    	#nav__desctop{
        display: none;
    }
}

